body {
  background-color: rgb(6 17 48);
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3em;
  padding: 0 2vw;
}


nav a {
  margin-left: 15px;
  text-decoration: none;
  color: white;

}

nav h1 {
  margin-right: 5vw;
  color: white;
  font-weight: 100;
}

main {
  padding: 0 10vw;
  gap: 1em;
}

main h2 {
  color: white;
  font-weight: 600;
}

main p {
  color: white
}

nav button {
  cursor: pointer;
}


.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

footer p {
  color: black
}

.w-50 {
  width: 50%
}

.mini-font {
  color: yellow;
  font-size: 10px;
}

.button-blue {
  background-color: rgb(28 75 196);
  color: white;
  padding: 1em 0.5em;
  border-radius: 8px;
  border: none;


}

footer {
  display: flex;
  background-color: hsl(180deg 17.24% 94.31%);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5em;
  background-color: white;
  padding: 3em 0
}

p {
  margin-top: 1px;
}

.gap-3 {
  gap: 1rem;
}